@use '../functions/ruleOfThree' as *

// CLIP IN CIRCLE

@function clipInCircle($start: 0%, $end: 100%, $timingFunction: cubic-bezier(0.83, 0, 0.17, 1))

    $frames: (($start, $end), (animation-timing-function: $timingFunction, clip-path: circle(0% at center), opacity: 0), (clip-path: circle(100% at center), opacity: 1))

    @return $frames

// CLIP OUT CIRCLE

@function clipOutCircle($start: 0%, $end: 100%, $timingFunction: cubic-bezier(0.83, 0, 0.17, 1))

    $frame_01: ruleOfThree(95%, $start, $end)
    $frames: (($start, $frame_01, $end), (animation-timing-function: $timingFunction, clip-path: circle(100% at center), opacity: 1), (opacity: 1), (clip-path: circle(0% at center), opacity: 0))

    @return $frames

// CLIP IN LEFT

@function clipInLeft($start: 0%, $end: 100%, $timingFunction: cubic-bezier(0.83, 0, 0.17, 1))

    $frame_01: ruleOfThree(50%, $start, $end)
    $frames: (($start, $frame_01, $end), (animation-timing-function: $timingFunction, clip-path: polygon(0 0, 0 0, 0% 100%,0 100%), opacity: 0), (opacity: 1), (clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%), opacity: 1))

    @return $frames

// CLIP IN RIGHT

@function clipInRight($start: 0%, $end: 50%, $timingFunction: cubic-bezier(0.83, 0, 0.17, 1))

    $frame_01: ruleOfThree(50%, $start, $end)
    $frames: (($start, $frame_01, $end), (animation-timing-function: $timingFunction, clip-path: polygon(100% 0, 100% 0, 100% 100%,100% 100%), opacity: 0), (opacity: 1), (clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%), opacity: 1))

    @return $frames

// CLIP IN TOP

@function clipInTop($start: 0%, $end: 100%, $timingFunction: cubic-bezier(0.83, 0, 0.17, 1))

    $frame_01: ruleOfThree(50%, $start, $end)
    $frames: (($start, $frame_01, $end), (animation-timing-function: $timingFunction, clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%), opacity: 0), (opacity: 1), (clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%), opacity: 1))

    @return $frames

// CLIP IN BOTTOM

@function clipInBottom($start: 0%, $end: 100%, $timingFunction: cubic-bezier(0.83, 0, 0.17, 1))

    $frame_01: ruleOfThree(50%, $start, $end)
    $frames: (($start, $frame_01, $end), (animation-timing-function: $timingFunction, clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%), opacity: 0), (opacity: 1), (clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%), opacity: 1))

    @return $frames

// CLIP OUT LEFT

@function clipOutLeft($start: 0%, $end: 100%, $timingFunction: cubic-bezier(0.83, 0, 0.17, 1))

    $frame_01: ruleOfThree(95%, $start, $end)
    $frames: (($start, $frame_01, $end), (animation-timing-function: $timingFunction, clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%), opacity: 1), (opacity: 0), (clip-path: polygon(0 0, 0 0, 0% 100%,0 100%), opacity: 0))

    @return $frames

// CLIP OUT TOP

@function clipOutTop($start: 0%, $end: 100%, $timingFunction: cubic-bezier(0.83, 0, 0.17, 1))

    $frame_01: ruleOfThree(95%, $start, $end)
    $frames: (($start, $frame_01, $end), (animation-timing-function: $timingFunction, clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%), opacity: 1), (opacity: 0), (clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%), opacity: 0))

    @return $frames

// CLIP OUT RIGHT

@function clipOutRight($start: 0%, $end: 100%, $timingFunction: cubic-bezier(0.83, 0, 0.17, 1))

    $frame_01: ruleOfThree(95%, $start, $end)
    $frames: (($start, $frame_01, $end), (animation-timing-function: $timingFunction, clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%), opacity: 1), (opacity: 0), (clip-path: polygon(100% 0, 100% 0, 100% 100%,100% 100%), opacity: 0))

    @return $frames

// CLIP OUT BOTTOM

@function clipOutBottom($start: 0%, $end: 100%, $timingFunction: cubic-bezier(0.83, 0, 0.17, 1))

    $frame_01: ruleOfThree(95%, $start, $end)
    $frames: (($start, $frame_01, $end), (animation-timing-function: $timingFunction, clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%), opacity: 1), (opacity: 0), (clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%), opacity: 0))

    @return $frames
