@use '../functions/ruleOfThree' as *

// PULSE

@function pulse($start: 0%, $end: 100%, $timingFunction: cubic-bezier(0.68, -0.6, 0.32, 1.6))

    $frame_01: ruleOfThree(50%, $start, $end)
    $frame_02: ruleOfThree(75%, $start, $end)

    $frames: (($start, $frame_01, $frame_02, $end), (animation-timing-function: $timingFunction, transform: matrix(1, 0, 0, 1, 0, 0)), (transform: matrix(0.6, 0, 0, 0.6, 0, 0)), (transform: matrix(1.1, 0, 0, 1.1, 0, 0)), (transform: matrix(1,0,0,1,0,0)))

    @return $frames
