@use '../functions/ruleOfThree' as *

// SLIDE IN LEFT

@mixin InLeft($start: 0%, $end: 50%, $timingFunction: cubic-bezier(0.25, 1, 0.5, 1))

    $frame_01: ruleOfThree(10%, $end) + $start
    $frame_02: ruleOfThree(50%, $end) + $start

    #{$start}
        animation-timing-function: $timingFunction
        transform: translate3d(-200%, 0, 0) scale(.9)
        opacity: 0
    #{$frame_01}
        opacity: 0
    #{$frame_02}
        opacity: 1
    #{$end}
        transform: translate3d(0, 0, 0) scale(1)
        opacity: 1

// SLIDE IN TOP

@mixin InTop($start: 0%, $end: 50%, $timingFunction: cubic-bezier(0.25, 1, 0.5, 1))

    $frame_01: ruleOfThree(10%, $end) + $start
    $frame_02: ruleOfThree(50%, $end) + $start

    #{$start}
        animation-timing-function: $timingFunction
        transform: translate3d(0, -200%, 0) scale(.9)
        opacity: 0
    #{$frame_01}
        opacity: 0
    #{$frame_02}
        opacity: 1
    #{$end}
        transform: translate3d(0, 0, 0) scale(1)
        opacity: 1

// SLIDE IN RIGHT

@mixin InRight($start: 0%, $end: 50%, $timingFunction: cubic-bezier(0.25, 1, 0.5, 1))

    $frame_01: ruleOfThree(10%, $end) + $start
    $frame_02: ruleOfThree(50%, $end) + $start

    #{$start}
        animation-timing-function: $timingFunction
        transform: translate3d(200%, 0, 0) scale(.9)
        opacity: 0
    #{$frame_01}
        opacity: 0
    #{$frame_02}
        opacity: 1
    #{$end}
        transform: translate3d(0, 0, 0) scale(1)
        opacity: 1

// SLIDE IN BOTTOM

@mixin InBottom($start: 0%, $end: 50%, $timingFunction: cubic-bezier(0.25, 1, 0.5, 1))

    $frame_01: ruleOfThree(10%, $end) + $start
    $frame_02: ruleOfThree(50%, $end) + $start

    #{$start}
        animation-timing-function: $timingFunction
        transform: translate3d(0, 200%, 0) scale(.9)
        opacity: 0
    #{$frame_01}
        opacity: 0
    #{$frame_02}
        opacity: 1
    #{$end}
        transform: translate3d(0, 0, 0) scale(1)
        opacity: 1

// SLIDE OUT LEFT

@mixin OutLeft($start: 0%, $end: 50%, $timingFunction: cubic-bezier(0.5, 0, 0.75, 0))

    $frame_01: ruleOfThree(90%, $end) + $start
    $frame_02: ruleOfThree(95%, $end) + $start

    #{$start}
        animation-timing-function: $timingFunction
        transform: translate3d(0, 0, 0) scale(1)
        opacity: 1
    #{$frame_01}
        opacity: 1
    #{$frame_02}
        opacity: 0
    #{$end}
        transform: translate3d(-200%, 0, 0) scale(.9)
        opacity: 0

// SLIDE OUT TOP

@mixin OutTop($start: 0%, $end: 50%, $timingFunction: cubic-bezier(0.5, 0, 0.75, 0))

    $frame_01: ruleOfThree(90%, $end) + $start
    $frame_02: ruleOfThree(95%, $end) + $start

    #{$start}
        animation-timing-function: $timingFunction
        transform: translate3d(0, 0, 0) scale(1)
        opacity: 1
    #{$frame_01}
        opacity: 1
    #{$frame_02}
        opacity: 0
    #{$end}
        transform: translate3d(0, -200%, 0) scale(.9)
        opacity: 0

// SLIDE OUT RIGHT

@mixin OutRight($start: 0%, $end: 50%, $timingFunction: cubic-bezier(0.5, 0, 0.75, 0))

    $frame_01: ruleOfThree(90%, $end) + $start
    $frame_02: ruleOfThree(95%, $end) + $start

    #{$start}
        animation-timing-function: $timingFunction
        transform: translate3d(0, 0, 0) scale(1)
        opacity: 1
    #{$frame_01}
        opacity: 1
    #{$frame_02}
        opacity: 0
    #{$end}
        transform: translate3d(200%, 0, 0) scale(.9)
        opacity: 0

// SLIDE OUT BOTTOM

@mixin OutBottom($start: 0%, $end: 50%, $timingFunction: cubic-bezier(0.5, 0, 0.75, 0))

    $frame_01: ruleOfThree(90%, $end) + $start
    $frame_02: ruleOfThree(95%, $end) + $start

    #{$start}
        animation-timing-function: $timingFunction
        transform: translate3d(0, 0, 0) scale(1)
        opacity: 1
    #{$frame_01}
        opacity: 1
    #{$frame_02}
        opacity: 0
    #{$end}
        transform: translate3d(0, 200%, 0) scale(.9)
        opacity: 0
